---
// data imports
import * as site from "../data/site.json";

// stylesheet imports
import "../styles/reset.scss";
import "../styles/breakpoints.scss";
import "../styles/global.scss";

interface Props {
    title?: string;
    description?: string;
}

const { siteName, author, url, favicon, ogImage } = site;
const { description } = Astro.props;
---

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href={favicon + ".png"} />
    <link rel="icon" type="image/svg+xml" href={favicon + ".svg"} />
    <meta name="generator" content={Astro.generator} />

    <!-- Primary Meta Tags -->
    <title>{`${siteName}`}</title>

    <meta name="title" content={`${siteName}`} />
    <meta name="description" content={description} />
    <meta name="author" content={author} />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet"
    />

    <!-- Font Awesome -->
    <script
        src="https://kit.fontawesome.com/88922a1596.js"
        crossorigin="anonymous"></script>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={url} />
    <meta property="og:title" content={`${siteName}`} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={ogImage} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={url} />
    <meta property="twitter:title" content={`${siteName}`} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={ogImage} />
</head>
